/* global.scss */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #010814;
  color: #333;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  color: #343a40;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}
